{% extends 'virtualscreen/doodle_base.html' %}
{% load static %}
{% block title %}
About Us
{% endblock title %}
{% block style %}

body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}

.social-link {
    width: 50px;
    height:50px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: dark blue;
}
{% endblock style %}
{% block content %}
<!-- For demo purpose -->
<!--Social Media icon-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">TELEKNIGHTS</h1>
            <p class="lead mb-0">Because we believe in Telekinesis</p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'assets/img/Sristi.jpeg' %}" alt="" width="120" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Sristi</h5><span class="small text-uppercase text-muted">IGDTUW New Delhi</span>
                 <br>
                <li class="list-inline-item"> <a href="https://www.linkedin.com/mwlite/in/sristi-4a680b207" class="social-link"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a></li>

            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'assets/img/harshita.jpg' %}" alt="" width="85" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Harshita Mangotra</h5><span class="small text-uppercase text-muted">IGDTUW New Delhi</span>
                <br>
                <li class="list-inline-item"> <a href="https://www.linkedin.com/in/harshita-mangotra-4b6b751ba/" class="social-link"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a></li>

            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
        </ul>

            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'assets/img/Anushka_Pandey.jpeg' %}" alt="" width="110" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Anushka Pandey</h5><span class="small text-uppercase text-muted">IIT Patna</span>
                <br>
                <li class="list-inline-item"> <a href="https://www.linkedin.com/in/anushka-pandey-a1aa32221/" class="social-link"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a></li>

            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'assets/img/harshita_n.jpg' %}" alt="" width="108" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Harshita Neelisetty</h5><span class="small text-uppercase text-muted">svecw Andhra Pradesh</span>
                <br>
                <li class="list-inline-item"> <a href="https://www.linkedin.com/in/neelisetty-harshita-6721bb223/" class="social-link"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a></li>

            </div>
        </div><!-- End -->
         <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'assets/img/gayathri.jpeg' %}" alt="" width="110" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Gayatri kannikanti</h5><span class="small text-uppercase text-muted">svecw Andhra Pradesh</span>
                <br>
                <li class="list-inline-item"> <a href="https://www.linkedin.com/in/gayathri-k-70091b174" class="social-link"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a></li>

            </div>
        </div>
        <!-- End -->
    </div>
</div>
{% endblock content %}