<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Touch Me Not | {% block title %}{% endblock title %}</title>

    {% block style %}{% endblock style %}

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .container{
            padding: 0%;
            margin: 1%;
        }
    </style>

    <!-- =======================================================
  * Template Name: SoftLand - v4.3.0
  * Template URL: https://bootstrapmade.com/softland-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between">
            <div class="container logo">
                <h1><a href="/">Touch Me Not</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="{% static 'assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
            <div class="container">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    {% block navbar %}{% endblock navbar %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'instructions' %}">Instructions</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href={% url 'profile' %}>Profile</a></li>
                    <li><a href="{% url 'sign-out' %}">Sign Out</a></li> 
                    {% else %}
                    <li><a href="{% url 'instructions' %}">Instructions</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'sign-up' %}">Sign Up</a></li> 
                    <li><a href="{% url 'sign-in' %}">Sign In</a></li> 
                    {% endif %}
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section class="hero-section" id="hero">

        <div class="wave">

            <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                        <path
                            d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
                            id="Path"></path>
                    </g>
                </g>
            </svg>

        </div>
        {% block content %}{% endblock content %}
        <footer class="footer" style="background-color: #3d5182;" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ms-auto">
                        <div class="row site-section pt-0">
                            <h3>Navigation</h3>
                            <div class="col-md-3 mb-4 mb-md-0">
                                <ul class="list-unstyled">
                                    <li><a class="text-white" href="/">Home</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 mb-4 mb-md-0">
                                <ul class="list-unstyled">
                                    <li><a class="text-white" href="{% url 'vdoodle' %}">Virtual Doodle</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 mb-4 mb-md-0">
                                <ul class="list-unstyled">
                                    <li><a class="text-white" href="{% url 'checkout' %}">Checkout Form</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 mb-4 mb-md-0">
                                <ul class="list-unstyled">
                                    <li><a class="text-white" href="{% url 'classroom' %}">Classroom</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

          

            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
        <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'assets/js/main.js' %}"></script>
        {% block script %}{% endblock script %}

</body>

</html>