{% extends 'virtualscreen/doodle_base.html' %}
{% load static %}
{% block title %}
Launch Doodle
{% endblock title %}

{% block content %}
<div class="container">
{{ url|json_script:"command" }}
<form action="{% url 'lvdl' %}" method="POST">
            {% csrf_token %}
            <button type="submit" id='lvdl' name="lanuch" class="btn btn-outline-warning"
                style="text-align: center; font-size: x-large; visibility: hidden">Launch</button>
</form>
</div>
<div class="container">
<div class="row">
<div class="col-md-12 text-center text-md-left p-2">
    <img src="{% static "assets/img/ins_VD.jpeg" %}" width="30" height="418" class="d-block w-100" alt="Gestures">
</div>
</div>
</div>
{% endblock content %}

<!-- ======= Footer ======= -->
{% block script %}

<script>
const value = JSON.parse(document.getElementById('command').textContent);
var clickEvent = new MouseEvent("click", {
    "view": window,
    "bubbles": true,
    "cancelable": false
});
if (value.length > 0) {
  var element = document.getElementById(value);
  element.dispatchEvent(clickEvent);
}
</script>
{% endblock script %}