{% extends './base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 hero-text-image">
      <div class="row">
        <div class="col-lg-8 text-center text-lg-start">
          <h1 data-aos="fade-right">Touch Me Not</h1>
          <p class="mb-5" data-aos="fade-right" data-aos-delay="100">A ContactLess Ride</p>

        </div>
        <div class="col-lg-4 iphone-wrap">
          <img
            src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5ef3f7eec4f2390006f0c356%2FGUI--Graphical-User-Interface--concept-%2F960x0.jpg%3Ffit%3Dscale"
            alt="Image" class="phone-1" data-aos="right" width="500" height="300">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWsRT6xXbEXao_mDiQr1D4dRq8GcgceV5J4A&usqp=CAU"
            alt="Image" class="phone-2" data-aos="right" width="500" height="300">

        </div>
      </div>
    </div>
  </div>
</div>
</section><!-- End Hero -->
<main id="main">
  <!-- ======= Home Section ======= -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 me-auto">
          <label>
            <h1>
              <font style="font: bold" color="#2673a6"> Virtual Doodle</font>
            </h1>
          </label><br>
          <label>
            <h2>
              <font style='bold' color="#2673a6"> Instructions </font>
            </h2>
          </label>

          <p><em>Selecting the Virtual Doodle will open a camera to record hand movements and a canvas for
              doodling.<br>Following hand gestures are used in our Virtual Doodle:<br><br>1) For doodling on the
              canvas<br>2) For clearing the canvas<br>Press q to quit.</em></p>
        </div>
        <div class="col-md-6" data-aos="fade-right">
          <img src="{% static 'assets/img/ins_VD.jpeg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row align-items-center">
      <div class="col-md-6 me-auto">
        <label>
          <h1>
            <font style='bold' color="#2673a6"> Grocery Self-Checkout </font>
          </h1>
        </label>
        <label>
          <h2>
            <font style='bold' color="#2673a6"> Instructions </font>
          </h2>
        </label>
        <p><em>Selecting Grocery Self Checkout will open camera to track hand movements.<br>
            Using the following gestures, the grocery form can be filled:<br><br>

            1) For navigation<br>
            2) To change mode to click<br>
            3) For clicking/selecting<br>
            4) For scrolling up<br>
            5) For scrolling down<br>
            Press q to quit.</em></p>
      </div>
      <div class="col-md-6" data-aos="fade-right">
        <img src="{% static 'assets/img/ins_GnC.jpeg' %}"class="d-block w-100" alt="...">
      </div>
    </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 me-auto">
          <label>
            <h1>
              <font style='bold' color="#2673a6"> Classroom Teaching</font>
            </h1>
          </label>
          <label>
            <h2>
              <font style='bold' color="#2673a6"> Instructions </font>
            </h2>
          </label>

          <p><em>Selecting Classroom Teaching will open camera to track hand movements.<br>
              For navigating through the gallery, use the following gestures:<br><br>

              1) For navigation<br>
              2) To change mode to click<br>
              3) For clicking/selecting<br>
              4) For scrolling up<br>
              5) For scrolling down<br>
              Press q to quit.</em></p>
        </div>

        <div class="col-md-6" data-aos="fade-right">
          <img src="{% static 'assets/img/ins_GnC.jpeg' %}"class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </section>






</main><!-- End #main -->
{% endblock content %}

<!-- ======= Footer ======= -->